@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    height: 130px;
    font-size: 1.2em;
    width: 100%;
    box-sizing: border-box;
}

.header__logo {
    width: 90%;
    max-width: 100px;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 50px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
}

.header__nav-responsive {
    display: none;
    cursor: pointer;
}

.header__nav-item {
    transition: 0.5s all;
}

.header__nav-item:hover {
    color: #7D5C50;
    transform: scale(1.05);
}

.sidebar {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 100px;
    background: linear-gradient(to right bottom, 
    rgba(221, 221, 221, 0.8),
    (221, 221, 221, 0.3)
    );
    height: 400px;
    width: 230px;
    border-radius: 10px;
    z-index: 10;
    backdrop-filter: blur(2rem);
}

.sidebar-close {
    align-self: flex-end;
    margin: 10px 10px 0 0;
    cursor: pointer;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: 'Bebas Neue', cursive;
    height: 100%;
    justify-content: space-around;
}

.sidebar-nav-item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    transition: all 0.5s;
}

.sidebar-nav-item:hover {
    background: rgba(221, 221, 221, 1);
    color: #7D5C50;
}

.active {
    display: block;
}

.active-flex {
    display: flex;
}

@media screen and (max-width: 750px) {
    .header__nav {
        display: none;
    }
    
    .header__nav-responsive {
        display: inline-block;
    } 
}

@media screen and (max-width: 520px) {
    .header {
        padding: 0 40px;
        height: 95px;
    }

    .header__logo {
        width: 65px;
    }
}